:root {
  --cardWidth: 240px;
  --cardHeight: 280px;
  --cardMargin: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;

}

html body{
  background-color: black;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.main{
  flex-wrap: wrap;
  flex:1;
  height: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #131212;
}

#card {
  background-color: #282c34;
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: var(--cardMargin);
}